/*

This is an example userChrome.css file. Use it if you don't already have a userChrome file.
If you already have one, append the import statement below at the top of your userChrome file.

*/



@import "natsumi/natsumi.css";
@import "pineapple-fried/pineapple-fried.css";
@import "notmychrome/chrome.css";

/* You can import additional mods above, or add your own userchrome CSS below. */










/* mini zen logo */

#PanelUI-menu-button {
  list-style-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 28.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;}</style><path class="st0" d="M16,22.2c3.4,0,6.2-2.8,6.2-6.2c0-3.4-2.8-6.2-6.2-6.2c-3.4,0-6.2,2.8-6.2,6.2C9.8,19.4,12.6,22.2,16,22.2z M20.9,16c0,2.7-2.2,4.9-4.9,4.9s-4.9-2.2-4.9-4.9s2.2-4.9,4.9-4.9S20.9,13.3,20.9,16z"/><path class="st0" d="M26.7,16c0,5.9-4.8,10.7-10.7,10.7S5.3,21.9,5.3,16S10.1,5.3,16,5.3S26.7,10.1,26.7,16z M16,24.6c4.8,0,8.6-3.9,8.6-8.6S20.8,7.4,16,7.4S7.4,11.2,7.4,16S11.2,24.6,16,24.6z"/><path class="st0" d="M32,16c0,8.8-7.2,16-16,16S0,24.8,0,16S7.2,0,16,0S32,7.2,32,16z M16,29.1c7.3,0,13.1-5.9,13.1-13.1S23.3,2.9,16,2.9S2.9,8.7,2.9,16S8.7,29.1,16,29.1z"/></svg>') !important;
}








/* new tab icon */
/*
.tab-icon-image[src="chrome://branding/content/icon32.png"], .tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"] {
  content: url('https://raw.githubusercontent.com/tabler/tabler-icons/refs/heads/main/icons/filled/circle.svg') !important;
}
*/









/* hidden back an froward buttons */
/*
#back-button,
#forward-button{
  display: none !important;
}
*/








/* move sidebar and profile icon */

#zen-sidebar-top-buttons-separator{
  order: 9999 !important;
}










/* -----shy toolbar----- */


/* toolbar on side */

.titlebar-buttonbox-container{overflow: hidden !important;}
#zen-tabbox-wrapper{z-index: 1 !important;}
#zen-appcontent-navbar-container{
  z-index: 4 !important;
  overflow: visible !important;
  opacity: 1 !important;
}

#PersonalToolbar{  
  /* make visible */
  visibility: visible !important;
  opacity: 1 !important;
  pointer-events: all !important;
  
  /* hide not needed */
  toolbartabstop{
    display: none !important;
  }
  
  /* vertical orientation */
  display: flex !important;
  flex-direction: column !important;
  
  /* size */
  height: fit-content !important;
  max-height: unset !important;
  min-height: unset !important;
  width: 42px !important;
  
  padding-inline: 0px !important;
  padding-block: 2px 0 !important;
  
  /* buttons size */
  & > *{margin: 0 !important;}
  
  /* buttons icons size */
  toolbarbutton > :is(.toolbarbutton-badge-stack, .toolbarbutton-icon){
    margin: 2px !important;
    padding: 8px !important;
    height: 32px !important;
    width: 32px !important;
    border-radius: 10px !important;
  }
  
  /* firefox account button */
  #fxa-toolbar-menu-button
  .toolbarbutton-badge-stack{
    padding: 6px !important;
  }
  
  /* extension buttons */
  toolbaritem > toolbarbutton{
    margin-inline: 4px !important;
  }
  
  /* background */
  background: color-mix(in srgb, var(--zen-colors-tertiary) 70%, transparent 30%) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px solid var(--arrowpanel-border-color) !important;
  border-radius: var(--zen-border-radius) !important;

  /* position */
  position: fixed !important;
  
  top: 0 !important;
  @media not (-moz-bool-pref: "zen.view.use-single-toolbar")
  {top: var(--zen-toolbar-height) !important;}
  
  @media not (-moz-bool-pref: "zen.tabs.vertical.right-side")
  {right: 0 !important;}
  @media (-moz-bool-pref: "zen.tabs.vertical.right-side")
  {left: 0 !important;}
  
  /* hide & show on hover */
  transition: margin .4s ease !important;
  margin-top: calc(var(--zen-element-separation) * 1.5) !important;
  @media not (-moz-bool-pref: "zen.tabs.vertical.right-side"){
    margin-right: -42px !important;
    &:is( :hover, :has([open]) )
    {margin-right: calc(var(--zen-element-separation) * 1.5) !important;}
  }
  @media (-moz-bool-pref: "zen.tabs.vertical.right-side"){
    margin-left: -42px !important;
    &:is( :hover, :has([open]) )
    {margin-left: calc(var(--zen-element-separation) * 1.5) !important;}
  }
  
  /* hover hitbox */
  overflow-x: visible !important;
  &::after{
    content: '';
    top: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: -1;
    @media not (-moz-bool-pref: "zen.tabs.vertical.right-side"){
      margin-left: calc(-5px - var(--zen-element-separation));
      left: 0;
    }
    @media (-moz-bool-pref: "zen.tabs.vertical.right-side"){
      margin-right: calc(-5px - var(--zen-element-separation));
      right: 0;
    }
  }
  
  /* 3 dots indicator */
  &:is( :hover, :has([open]) )::before{opacity: 0;}
  &::before{
    content: '';
    opacity: .5;
    top: 0;
    position: absolute;
    padding-left: 0px;
    width: 15px;
    height: 15px;
    transform: rotate(90deg);
    background-image: url(chrome://browser/skin/zen-icons/menu.svg);
    transition: all .15s ease;
    
    @media (prefers-color-scheme: dark)
    {filter: invert()}
    
    @media not (-moz-bool-pref: "zen.tabs.vertical.right-side"){
      margin-left: calc(-6px - var(--zen-element-separation));
      left: 0;
    }
    @media (-moz-bool-pref: "zen.tabs.vertical.right-side"){
      margin-right: calc(-6px - var(--zen-element-separation));
      right: 0;
    }
  }
}

/* fix fullscreen */
:root[inDOMFullscreen] {
  #navigator-toolbox,
  #zen-appcontent-navbar-container
  {display: none !important;}
}

/* customizing mode */
:root[customizing]{
  #PersonalToolbar{
    margin: 5px !important;
    height: calc(50vh - 10px) !important;
    min-width: unset !important;
    
    border-radius: 15px !important;
    background: transparent !important;
    
    &::before{display: none}
  }
  #zen-appcontent-wrapper{
    @media not (-moz-bool-pref: "zen.tabs.vertical.right-side")
    {margin-right: 50px !important;}
    @media (-moz-bool-pref: "zen.tabs.vertical.right-side")
    {margin-left: 50px !important;}
  }
}

/* hide topbar */
:root[zen-single-toolbar="true"]{
  #zen-appcontent-navbar-container{
    transition: height 0.15s ease, opacity 0.1s ease-out, max-height 0.15s ease !important;
    max-height: var(--zen-element-separation) !important;
    overflow: hidden !important;
    .titlebar-buttonbox-container{
      opacity: 0 !important;
      transition: opacity 0.1s ease-out !important;
    }
  }
  #zen-appcontent-navbar-container[zen-has-hover]:hover:not(
    :has(#PersonalToolbar:is( :hover, :has([open]) ))
  ) {
    max-height: var(--zen-toolbar-height) !important;
    .titlebar-buttonbox-container{opacity: 1 !important;}
  }
}








/* zen web panel transparency*/

/* === Transparent Borderless Sidebars === */
/* ff sidebar */
/*#sidebar-box,
#zen-sidebar-web-panel,
#sidebar-splitter,
#zen-sidebar-web-header,
#zen-sidebar-panels-wrapper {
  background-color: transparent !important;
  border: none !important;
}

#zen-sidebar-panels-wrapper {
  border-top: none !important;
  border-bottom: none !important;
}
*/

/* === Floating Zen Sidepanel Style === */
/*#zen-sidebar-web-panel {
  box-shadow: none !important;
}

#zen-sidebar-web-panel[pinned="true"] #zen-sidebar-web-header {
  border-radius: 6px 6px 0 0 !important;
}

#zen-sidebar-web-panel[pinned="true"] {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 6px !important;
  margin: 10px !important;
  backdrop-filter: blur(50px) !important;
  -moz-backdrop-filter: blur(20px) !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important;
}
*/









/* macOS only - fix for new url bar placement */
/*#urlbar[open][zen-floating-urlbar="true"]{
	top: 35vh !important;
}*/


/* Remove new tab background color white tint in 1.8b+ */
.browserStack browser {
	background-color: transparent !important;
}









/* URL bar page animation */
/*#browser:has(#urlbar[open][zen-floating-urlbar="true"]) .browserContainer {
  pointer-events: none;
	scale: 1.1 !important;
  filter: blur(10px) brightness(70%) !important;
}

#urlbar[open][zen-floating-urlbar="true"] #urlbar-background{
	border-radius: 1em !important;
}*/








/* urlbar buttons*/
:root[zen-single-toolbar='true'] {
  #urlbar:hover > #tracking-protection-icon-container{. /*.urlbar-addon-page-action, #reader-mode-button, #translations-button*/
    display: inherit !important;
  }
}






/* Needed for blur */
/*  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
*/
/* === BLUR COMPACT SIDEBAR === */
/* Based on code by https://github.com/Tanay-Kar */

:root[zen-compact-mode="true"] {
  #navigator-toolbox #titlebar {
    @media (-moz-bool-pref: "lacuna.sidebar.compact-transparent") {
      background: light-dark(#99999944, #00000044) !important;
    }

    border: none !important;
  }

  #navigator-toolbox:not(:has(#urlbar[zen-floating-urlbar='true'][open])) #titlebar {
    backdrop-filter: blur(10px) !important;
  }
}

#zen-sidebar-web-panel {
  background: light-dark(#00000022, #00000044) !important;
  backdrop-filter: blur(40px) !important;
}



/* === BETTER CUSTOMIZE TOOLBAR === */
/* Based on code by https://github.com/Tanay-Kar */

#customization-container {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  height: 80%;
  width: 70%;
  border-radius: 12px;
 
  padding: 10px;
  background: light-dark(rgba(255,255,255,0.32),rgba(0,0,0,0.3)) !important;
}

@media (-moz-bool-pref: "zen.tabs.vertical.right-side") {
  #customization-container {
    left: 10px;
  }
 
  #customization-container #customization-content-container {
    flex-direction: row-reverse;
  }
}

#customization-container #customization-panel-container {
  padding: 10px !important;
}


#customization-container #customization-panelWrapper {
  --panel-arrow-offset: 0px;
}

#customization-container .panel-arrowbox {
  display: none !important;
}

#customization-container .panel-arrowcontent {
  height: 100% !important;
  background: light-dark(rgba(255,255,255,0.8),rgba(0,0,0,0.4)) !important;
  border: none !important;
  margin: 0px !important;
  border-radius: 8px;
}















/* ZEN WORKSPACE BORDERS */
/*
#zen-workspaces-button {
    background-color: rgba(255, 255, 255, 0.04) !important;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1) !important;
    border-radius: 8px !important;
    border: 1px solid #ffffff0c !important;
}

  
  #zen-workspaces-button {
    .subviewbutton {
        &[active="true"] {
            background: rgba(255, 255, 255, 0.1) !important;
            transition: 0.3s !important;
            border: 1px solid #ffffff0a !important;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062) !important;
  
        }
  
        &:hover {
            background: rgba(255, 255, 255, 0.2) !important;
            transition: 0.3s !important;
        }
  
        &:after {
            display: none !important;
        }
  
    }
  }
  
  #zen-current-workspace-indicator {
      padding: 10px calc(4px + var(--tab-inline-padding)) !important;
      font-weight: 500 !important; 
  }
*/













/* workspace border */

.subviewbutton[tooltiptext]:not([active="true"]):hover .zen-workspace-icon {
  visibility: visible !important;
 
  transform: scale(0.9);
  opacity: 1 !important;
}

.subviewbutton[tooltiptext]:not([active="true"]):hover
  .zen-workspace-icon::after {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}


/*--------------------------workspace gap----------------------*/
#zen-workspaces-button {
  container-name: workspaces;
  container-type: inline-size;
  display: block;
  width: 95px !important;
  gap: 10px !important;
  max-height: min-content;
  background: transparent !important;
  margin-top: 1px !important;
  margin-left: 4px !important;
}

@container workspaces (width < 100px) {
  .subviewbutton[tooltiptext]:not([active="true"]):not(:hover) {
    width: 8px !important;
    padding: 0px;
  }

  .subviewbutton[tooltiptext]:not([active="true"]):not(:hover)
    .zen-workspace-icon {
    visibility: hidden;
    position: relative;
    padding: 0;
    width: 5px !important;
    height: 5px !important;
    padding: 0px;
  }

  .subviewbutton[tooltiptext]:not([active="true"]) .zen-workspace-icon::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: block;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible !important;
    z-index: 1;
    padding: 0;
  }
}

/* Make the parent container a flexbox to handle resizing */
#zen-workspaces-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  
}

/* Style for the toolbar buttons */
#zen-workspaces-button .subviewbutton {
  flex: 1;
 
  min-width: 22px;
  max-width: 100px;
  height: auto;
  padding: 10px;
  margin: 2px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* Adjust icon size relative to the button size */
#zen-workspaces-button .subviewbutton .zen-workspace-icon {
  transition: font-size 0.3s ease;
}
 











/* Pinned extensions */
#TabsToolbar-customization-target {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  gap: 2.5px !important;
  justify-content: space-between !important;
  height: calc(100% - 37px) !important;

  #tabbrowser-tabs {
    min-width: 100% !important;
    contain: inline-size !important;
  }

  .unified-extensions-item {
    margin-inline: 2px !important;
    border-bottom: 0px !important;
    padding: 0px !important;
    height: 32px !important;
    width: 32px !important;
    margin-bottom: 1px !important;
    flex-grow: 1 !important;
    order: -1 !important;
  }

  toolbarbutton:not([id="tabs-newtab-button"]) {

    toolbarbutton,
    stack {
      --toolbarbutton-active-background: transparent !important;
      --toolbarbutton-hover-background: transparent !important;
    }

    .toolbarbutton-badge {
      display: none !important;
    }
    
  }




/* PINNED EXTENSION COLOR */
  >toolbarbutton:not([id="tabs-newtab-button"]),
  >toolbaritem {
    background-color: light-dark(rgba(255,255,255,0.85), rgba(255,255,255,0.13)) !important;
    border-radius: 9.5px !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
  }

  >toolbarbutton:not([id="tabs-newtab-button"]):hover,
  >toolbaritem:hover {
    background-color: light-dark(rgba(255,255,255,0.9), rgba(255,255,255,0.2)) !important;
  }

  >toolbarbutton:not([id="tabs-newtab-button"]):is([open], [checked]),
  >toolbaritem:has(toolbarbutton:is([open], [checked])) {
    background-color: light-dark(rgba(255,255,255,0.9), rgba(255,255,255,0.2)) !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4) !important;
  }
}



