/* BOOKMARK THEMEING */
:root[zen-single-toolbar="true"] {
    #personal-bookmarks {
    max-width: calc(var(--zen-sidebar-width) - 6px ) !important;    /* Set width of bookmarks */
    max-width: 240px !important;                                    /* Set width manually */
    align-self: safe center;                                        /* Centers bookmark bar area */
    overflow: scroll;                                               /* Allow scrolling */
    scrollbar-width: none;                                          /* Hides scrollbar */
    }
    #personal-bookmarks:hover {
    background: transparent !important;                             /* Default hover */
    }
    #PlacesToolbar, #PlacesToolbarItems {
    overflow-x: initial;                                            /* Show overflow */
    scrollbar-width: none;                                          /* Hides scrollbar */
    justify-content: safe center;                                   /* Centers icons */
    }
    #personal-bookmarks .bookmark-item > .toolbarbutton-text {
    display: none !important;                                       /* Hide bookmark text */
    }
    #personal-bookmarks .bookmark-item:hover > .toolbarbutton-text {
    /*display: block !important;*/                                  /* Show bookmark text on hover */
    }
    .bookmark-item{
        visibility: visible !important;                             /* Force all bookmarks visible */
        flex-shrink: 0 !important;                                  /* Fixes spacing between bookmarks */
    }
    .bookmark-item:not(:hover){ &:is(toolbarbutton) {
        margin-left: -3px !important;                               /* Bookmarks spacing */
        margin-right: -3px !important;
        transition: all 600ms ease-in-out;                          /* Hover transition */
    } }
    .bookmark-item:hover{ &:is(toolbarbutton) {
        background: transparent !important;                         /* Removes hover background */
        margin-left: 0px !important;                                /* Bookmarks spacing on hover */
        margin-right: 0px !important;
        scale: 150%;                                                /* Hover effect */
        transition: all 300ms ease-in-out;                          /* Hover transition */
    } }
    .bookmark-item:not(:hover) .toolbarbutton-icon {
        filter: grayscale(80%);                                     /* Hover effect */
        opacity: 0.7 ;                                              /* Hover effect */
    }
    .bookmark-item:hover .toolbarbutton-icon {
        filter: grayscale(0%);                                      /* Hover effect */
    }
    #PlacesChevron, #nav-bar-overflow-button {
    visibility: collapse;                                           /* Hides the arrow */
    }
}
/*/ ================= /*/
