
.tab-group-label{
  border: none !important;
  border-radius: 1em !important;
  outline: none !important;
  width: 100% !important;
  margin-right: 0 !important;
  transition: all 0.2s ease-in-out !important;
}

.tab-group-label-container::after{
  display: none !important;
}

tab-group .tab-group-label{
  width: 100% !important;
  text-align: left !important;
  padding-left: 10px !important;
  
  &:hover{
    padding-left: 20px !important;
  }
}

tab-group .tab-group-label{
  background: color-mix(in srgb, var(--tab-group-color) 20%, transparent) !important;
  border: color-mix(in srgb, var(--tab-group-color) 50%, transparent) 2px solid !important;
  color: color-mix(in srgb, var(--tab-group-color) 70%, #fff) !important;
  
  &:hover{
    background: color-mix(in srgb, var(--tab-group-color) 50%, transparent) !important;
    color: color-mix(in srgb, var(--tab-group-color) 30%, #fff) !important;
  }
}

tab-group .tab-stack{
  background: color-mix(in srgb, var(--tab-group-color) 20%, transparent) !important;
  margin-block: 2px !important;
  border-radius: 1em !important;
}

.tab-group-label-container{
  margin-bottom: 3px !important;
  margin-top: 3px !important;
}

tab-group .tabbrowser-tab::before{
  display: none !important;
}

#tabbrowser-tabs:not([expanded]){
  tab, tab-group{
    scale: 1.1 !important;
  }
}
